@page "/DbMain/{DbName}/Class/{Class}"
@inject IDriver _driver
@inject StaticData staticData
@using System.Text.Json
@using System.Text.Json.Serialization

<div class="row g-2 align-items-center">
    <div class="col-auto">
        <h1>@Class</h1>
    </div>
    <div class="col-auto">
        @if (!_form)
        {
            <button class="btn btn-outline-primary " @onclick="ShowCreateForm">Добавить</button>
        }
    </div>
</div>

@if (_form)
{
    <div class="row">
        <div class="col-6">
             <EditForm Model="_name" OnValidSubmit="Create">
                <div class="mb-2">
                    <input type="text" @bind="_name" class="form-control" placeholder="Имя компоненты" required/>
                </div>
                @for (int i = 0; i < _relations.Count; i++)
                {
                    var ii = i;
                    <div class="d-flex flex-row mb-2">
                        <input @bind="_relations[ii].Name" class="form-control" disabled/>
                        <input @bind="_relations[ii].SecondClassCopyName" class="form-control ms-2" required/>
                    </div>
                }
                <button class="btn btn-primary">Добавить</button>
            </EditForm>
        </div>
    </div>
}

@foreach (string copyName in _copyList)
{
    <ClassCopyControl ClassName=@Class CopyName=@copyName DbName=@DbName></ClassCopyControl>
}

@code{
    [Parameter]
    public string DbName { get; set; } = "";

    [Parameter]
    public string Class { get; set; } = "";

    private List<string> _copyList = new List<string>();
    private List<Relation> _relations = new List<Relation>();

    private bool _form = false;
    private string _name = "";

    protected override void OnInitialized()
    {
        GetClassCopy();
        GetClassRelations();
    }

    private async void GetClassCopy()
    {
        _copyList = new List<string>();
        IResultCursor cursor;
        IAsyncSession session = _driver.AsyncSession(c => c.WithDatabase(DbName));
        try
        {
            cursor = await session.RunAsync(@$"MATCH (n:{Class}) where exists(n.title) return n.title");
            var result = await cursor.ToListAsync();
            foreach (IRecord record in result)
            {
                var value = record.Values.Where(r => r.Key == "n.title").FirstOrDefault();
                var name = value.Value.As<string>();
                if (!_copyList.Contains(name))
                {
                    _copyList.Add(name);
                }
            }
        }
        finally
        {
            await session.CloseAsync();
        }

        StateHasChanged();
    }

    private async void GetClassRelations()
    {
        _relations = new List<Relation>();
        IResultCursor cursor;
        IAsyncSession session = _driver.AsyncSession(c => c.WithDatabase(DbName));
        try
        {
            cursor = await session.RunAsync(@$"MATCH (n:{Class})-[r]->(v) return type(r), labels(v)");
            var list = await cursor.ToListAsync();
            foreach (IRecord record in list)
            {
                var value = record.Values.Where(r => r.Key == "type(r)").FirstOrDefault();
                var name = value.Value.As<string>();

                value = record.Values.Where(r => r.Key == "labels(v)").FirstOrDefault();
                var secondClassName = value.Value.As<List<string>>()[0];

                if (_relations.Where(r => r.Name == name).Count() == 0)
                {
                    _relations.Add(new Relation()
                    {
                        Name = name,
                        SecondClassName = secondClassName
                    });
                }
            }
        }
        finally
        {
            await session.CloseAsync();
        }

        StateHasChanged();
    }

    private async void Create()
    {
        Dictionary<string, double> values = new Dictionary<string, double>();
        Dictionary<string, string> componentInfo = new Dictionary<string, string>();
        IResultCursor cursor;
        IAsyncSession session = _driver.AsyncSession(c => c.WithDatabase(DbName));
        var companyName = "";
        var copyNode = "";
        try
        {
            copyNode = $"{Class}" + "{title:\"" + $"{_name}" + "\"}";
            componentInfo.Add("componentTitle", _name);
            componentInfo.Add("componentClass", Class);
            var rel = "";
            foreach (var relation in _relations)
            {
                rel += $" CREATE (n)-[:{relation.Name}]->(:value" + "{title:\"" + $"{relation.SecondClassCopyName}" + "\"})";
                if (relation.Name == "company"){
                    companyName = relation.SecondClassCopyName;
                }
                else {
                    values.Add(relation.Name, Convert.ToDouble(relation.SecondClassCopyName));
                }
            }
            cursor = await session.RunAsync($"CREATE (n:{copyNode})" + rel);
        }
        finally
        {
            await session.CloseAsync();
        }

        var titles = await GetCompatibilityTitles(companyName, _name);
        await AddCompatibilityRelation(copyNode, titles);
        await CalculateWorth(
            values,
            staticData.bestValues,
            staticData.coefficients,
            componentInfo,
            copyNode
        );

        _name = "";
        _form = false;

        GetClassCopy();
    }

    private async Task<List<string>> GetCompatibilityTitles(string companyName, string currTitle)
    {
        IResultCursor cursor;
        IAsyncSession session = _driver.AsyncSession(c => c.WithDatabase(DbName));
        var titles = new List<string>();
        try
        {
            cursor = await session.RunAsync(@$"MATCH (n)-[r:company]->(v" + "{title:\"" + companyName + "\"}" + ") where exists(n.title) return n.title");
            var result = await cursor.ToListAsync();
            foreach (IRecord record in result)
            {
                var value = record.Values.Where(r => r.Key == "n.title").FirstOrDefault();
                var name = value.Value.As<string>();
                if (!titles.Contains(name) && name != currTitle)
                {
                    titles.Add(name);
                }
            }
        }
        finally
        {
            await session.CloseAsync();
        }

        return titles;
    }

    private async Task<bool> AddCompatibilityRelation(string node, List<string> titles)
    {
        IResultCursor cursor;
        IAsyncSession session = _driver.AsyncSession(c => c.WithDatabase(DbName));
        try
        {
            var rel = "";
            foreach (var title in titles)
            {
                rel += $" MATCH (n2:component" + "{title:\"" + title + "\"})";
                rel += $" CREATE (n)-[:compatibility]->(n2)";
                rel += $" CREATE (n2)-[:compatibility]->(n)";
            }
            cursor = await session.RunAsync($"MATCH (n:{node})" + rel + "return (n)");
        }
        finally
        {
            await session.CloseAsync();
        }

        return true;
    }

    private void ShowCreateForm() => _form = true;

    @* START OF AGENT SECTION *@

    private async Task CalculateWorth(
        Dictionary<string, double> componentValues, 
        Dictionary<string, double> bestValues, 
        Dictionary<string, double> coefficients,
        Dictionary<string, string> componentInfo, // не обращай внимания на это
        string node // не обращай внимания на это
    )
    {
        var worth = 0.0;
        var tempWorth = 0.0;
        var counter = 0.0;

        // вычисления 

        foreach(var item in componentValues)
        {
            var key = item.Key;
            if(bestValues.ContainsKey(key)){
                counter += 1;
                tempWorth += item.Value * coefficients[key] / bestValues[key];
            }
        }
        worth = tempWorth / counter; 

        // конец вычислений

        IResultCursor cursor;
        IAsyncSession session = _driver.AsyncSession(c => c.WithDatabase(DbName));
        try
        {
            var value = "{title:\"" + worth + "\"}";
            cursor = await session.RunAsync($"MATCH (n:{node}) CREATE (n)-[:worth]->(:value{value}) return (n)");
        }
        finally
        {
            await session.CloseAsync();
        }
    }

    @* END OF AGENT SECTION *@
}
