@inject IDriver _driver
@inject NavigationManager _manager

<div class="bg-light border rounded p-2 m-2 d-flex flex-row align-items-center">
    <h1 class="flex-grow-1">@DbName</h1>
    <button class="btn btn-primary m-2" @onclick="Open">Открыть</button>
</div>

@code {
    [Parameter]
    public string DbName { get; set; } = "";

    private bool _delete = false;

    private void Open()
    {
        _manager.NavigateTo($"/DBMain/{DbName}");
    }
}